header {
    height: 80px;
    background-color: rgba(255, 228, 196, 0.5);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    
}

.upper {
    background-image:url("bg.jpeg");
    height:700px;
    
}

.about {
    text-align: center;
    background-color: aliceblue;
    padding-top: 10px;
    padding-bottom: 20px;
}

.skills {
    background-color: rgba(252, 0, 0, 0.521);
    width: 600px;
    display: inline-block;
    height:473px;
    padding-top:0px;
    
}

.lower {
  display: flex;
}

.skills h1 {
    margin-top: 0px;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.26);
    color:rgb(217, 255, 0);
}

.skills img {
    background-color: rgba(0, 0, 0, 0.685);
    
    margin-left: 15%;
    
}

.quotes {
   
    
   
    height:473px;
    background-color: rgba(0, 0, 0, 0.822);
    padding-right: 100px;
    
   
    
}

.quotes h1 {
    color:rgb(255, 0, 0);
    font-style: italic;
    
    margin-top: 0px;
    
    text-align: center;
}

.quotes li {
    list-style-type:none;
    color:rgb(0, 247, 255);
    font-size: large;
    font-style: oblique;
}